// ======================================
//  Variables
// ======================================

// Font Stack
$font-url--google: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900';
$font-family--primary: 'Source Sans Pro', 'Helvitca Neue', Helvetica, Arial, sans-serif;
$font-family--secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;

//Font Weights
$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--ultra-bold: 900;

// Base Colors
$white: #ffff;
$black: #0b0b0b;
$grey: #797e83;

$aqua: #41e7c1;
$green: #52ce92;
$blue: #35d4fc;
$light-slate-blue: #9a6cff;
$purple: #927dbf;
$green: #67cb84;
$red: #e2767c;
$orange: #ff7459;

// Color Usage
$color-primary: $aqua;
$color-secondary: $blue;
$color-tertiary: lighten($grey, 25%);


// Grid Colors Map
$grid-col: (
    12: darken($aqua, 10%),
    6: darken($blue, 20%),
    4: $blue,
    3: lighten($purple, 15%),
    5: $green,
    7: $red,
    8: $orange,
);

// Buttons Colors Map
$buttons:(
    default: $blue,
    success: $green,
    error:   $red,
    warning: $orange,
    info:    $light-slate-blue,
   );

// Text
$base__font-size: 16px;
$base__line: 24px;

// Border Radius
$br--default: .2em;
$br--round: 50%;

// Grid - Layout
$g-col-width: 65px;
$g-gutter-width: 5px;
$g-col-count: 12;
$g-cont-max-w: 1050px;

// Breakpoints
$breakp-m: '768px';
$breakp-l: '1024px';