.form {
    @include flex (column, center);
    
    &__input {
        border: none;
        border-bottom: 5px solid $aqua;
        margin: em(10px);
        padding: em(27px);
        font-size: em(12px);
        font-family: 'Helvetica' sans-serif;
        font-weight: $font-weight--medium;
        color: $color-tertiary;
    }

    &__label--hidden {
        display: none;
    }

    @include desk {
        margin-left: em(16px);
    }
}