.form {
    @include flex (column, center);
    
    &__label--hidden {
        display: none;
    }

    &__input {
    border: none;
    border-bottom: 5px solid $aqua;
    margin: em(10px);
    padding: em(27px);
    font-family: 'Helvetica' sans-serif;
    font-weight: $font-weight--bold;
    font-size: em(12px);
    color: $color-tertiary;
    }

    @include desk {
        margin-left: em(16px);
    }
  }