.img {
    &--avatar {
      @extend %image-style;
      border-radius: $br--round;
      margin-top: em(20px);

      @include desk {
          margin-top: 0;
      }
    }

    &--frame {
        border: 1px solid $color-tertiary;
        padding: em(12px);
        width: 100%;

        @include desk {
            width: 55%;
        }
    }
}

.img--logo {
    width: em(150px);
    display: block;
    margin: auto;

    @include desk {
        display: inline-block;
        width: em(180px);
    }
}