.nav {
    margin-bottom: em(16px);
    text-align: center;
    @include flex (column, center);
    @media (min-width: $breakp-m) {
        @include flex(row, center);
        margin: em(5px);
    }

    &__item {
        padding: em(16px);
        a {
            @extend %center-align;
            color: $grey;
            font-size: em(18px);
            font-weight: $font-weight--light;     
        }
    }

    :hover {
        background-color: $aqua;
        border-radius: $br--default;
        font-weight: $font-weight--medium;
        color: $white;
    }
}